<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
  </header>

  <div class="grid grid--uniform">
    {% for collection in collections %}
      <div class="grid__item small--one-half medium-up--one-third">
        {% include 'collection-grid-item' %}
      </div>
    {% endfor %}
  </div>
</div>

