<section class="jumbotron">
	<div class="container">
		<h1 class="display-5">Multi-Language Shopify Online Shop</h1>
		<p class="lead">
			This is a demo store that shows how to create a multi-language, multi-currency Shopify online shop.
		</p>
		<hr class="my-4">
		<p>
			The products here are not real and a purchase will not result in any delivery. For further information
			read <a href="#">my blog post about this shop</a>.
		</p>
	</div>
</section>
