<section class="jumbotron">
	<div class="container">
		<h1 class="display-5">Mehrsprachiger Shopify Online Shop</h1>
		<p class="lead">
			Dies ist ein Demo Shop der zeigt, wie Shopify mehrere Sprachen und Währungen unterstützen kann.
		</p>
		<hr class="my-4">
		<p>
			Die Produkte in diesem Shop sind nicht echt und nach einem Kauf erfolgt keine Lieferung.
			Weitere Informationen zu diesem Thema findest du in <a href="#">meinem Blog Beitrag über diesen Shop (Englisch)</a>.
		</p>
	</div>
</section>
