<nav class="navbar navbar-toggleable-md navbar-inverse bg-danger">
	<div class="container">
			<a class="navbar-brand" href="/?view=de">Shopify multi-lang</a>
			<div class="navbar-nav mr-auto">
				<a class="nav-item nav-link" href="/collections/rot?view=de">Rot</a>
				<a class="nav-item nav-link" href="/collections/blau?view=de">Blau</a>
			</div>
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/cart?view=de"><i class="fa fa-shopping-cart"></i></a>
				<a class="nav-item nav-link" href="/">US ($)</a>
				<a class="nav-item nav-link active" href="/?view=de">DE (€)</a>
			</div>
	</div>
</nav>
